<manifest package="no.nordicsemi.android.support.v18.scanner"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!--
	 Bluetooth permissions require to check Bluetooth Adapter state
	 and starting LE scan.

	 Note: For scanning purpose, the permissions below have been replaced with
	       BLUETOOTH_SCAN in Android API 31 (Android 12).
	       Due to possible use of flag, apps need to request the permission on their own.
	-->
	<uses-permission
		android:name="android.permission.BLUETOOTH"
		android:maxSdkVersion="30"/>
	<uses-permission
		android:name="android.permission.BLUETOOTH_ADMIN"
		android:maxSdkVersion="30"/>

	<!--
	 Location permission has been removed from here, as it may not be required for
	 Android 12 onwards. Instead, apps should request BLUETOOTH_SCAN permission with or without
	 "neverForLocation" flag, and the location permission only if necessary.

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	-->

	<application>
		<!--
		Service used to scan in background to emulate scanning with
		PendingIntent on Android 4.3 - 7.x. Service will scan in background with given
		settings and filters.
		-->
		<service
			android:name=".ScannerService"
			android:exported="false"/>

		<!--
		The receiver used to scan with PendingIntent on Android 8+.
		It will translate results from android.bluetooth.le package to
		no.nordicsemi.android.support.v18, apply filters or perform batching,
		depending on the settings.
		-->
		<receiver
			android:name=".PendingIntentReceiver"
			android:exported="true"
			tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="no.nordicsemi.android.support.v18.ACTION_FOUND"/>
			</intent-filter>
		</receiver>

	</application>
</manifest>
